main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.board-block {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
}
